@font-face {
    font-family: "Raleway";
    src: url(static/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    width: 96%;
}

h1, h2, h3, p, a {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

/*HEADER : Menu de navigation */


#logo-haut {
    cursor: pointer;
    margin-right: auto;
}   

.menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0.5%;
    
    } 

.menu-nav a {
    color: inherit;
    margin-left: 1%;
    text-decoration: none;
    padding: 1.5rem;
    border-top: 2px solid transparent;
}

.menu-nav a:hover {
    border-top-color: #0065fc;
    color: #0065fc;  
}

.inscrire a {
    color: blue;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


/*Formulaire de Recherche*/

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5%;
}

.form i {
    padding: 1rem;
    background-color: lightgray;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.search {
    padding: 1rem;
    padding-right: 1px;
    border: 1px solid transparent;
}

.submit {
    padding: 0.9rem;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #0065fc;   
}

.search::-webkit-input-placeholder {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.search::-moz-placeholder {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.search:-ms-input-placeholder {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.search::placeholder {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.fas.fa-search {
    display: none;
}

/* Filtres */

.filtre-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filtre i {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: lightblue;
    color: blue;
    margin: -2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.filtre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid lightgrey;
    border-radius: 2rem;
    padding-right: 1.2rem;
    font-weight: bold;
    font-family: "Raleway";
    cursor: pointer;
}

.filtre:hover {
    background-color: lightgrey;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer;
}

/*Infos Message*/

.infos-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    margin-bottom: 1%;
}

.infos-message i {
    color: blue;
    border-radius: 50%;
    border: 1px solid lightgrey;
    width: 2rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* HOTELS */


#hebergements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    /* Hôtels à Marseille */

    .hebergement {
        
        -ms-flex-preferred-size: 66%;
        
            flex-basis: 66%;
        height: 650px;
        margin-right: 0.5%;
        border-radius: 1.5rem;
        background-color: #f2f2f2;
        padding-left: 1%;
        padding-right: 1%;
    }

    .part2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .part2 img {
        border-radius: 1.5rem 1.5rem 0 0;
        cursor: pointer;
        width: 100%;
        height: 120px;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .hotel {
        margin: 1%;
        padding: 0.5%;
        background-color: white;
        border-radius: 1.5rem;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        box-shadow: 0 0 16px gray;
    
    }

    .hotel a {
        text-decoration: none;
        color: black;
    }

    .etoiles {
        margin: 2%;
    }

    .blue {
        color: #0065fc;
    } 

    .grey {
        color: lightgray;
    }

    .hebergement h1 {
        padding-left: 1%;
    }

    .part2 h3, p {
        padding-left: 0.5rem;
    }

    .part2 p {
        font-weight: normal;
    }

    .afficher-plus {
        text-decoration: none;
        color: black;
        padding-left: 0.5rem;
    }

    .hotel:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        cursor: pointer;
    }

    /* Hôtels Populaires */

    .populaire {

        -ms-flex-preferred-size: 33%;

            flex-basis: 33%;
        height: 650px;
        border-radius: 1.5rem;
        background-color: #f2f2f2;
        padding: 0 20px 0 20px;
        
    }

    .titre-populaire {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 110%;
    }

    .populaire h1 {
        padding-left: 1%;
    }

    .part3 {
        position: relative;
    }

    .part3 p {
        font-weight: normal;
    }

    .hotel2 {
        
        width: 100%;
        background: white;
        border-radius: 20px;
        padding: 3px;
        box-sizing: border-box;
        margin: 0px 0px 30px 0px;
        height: 165px;
        box-shadow: 0 0 16px gray;

    }

    .hotel2 img {

        background-color: white;
        -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;
        cursor: pointer;
        float: left;
        width: 35%;
        height: 92%;
        border-radius: 15px 0 0 15px;
        margin: 2px 15px 2px 0px;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .hotel2 a {
        text-decoration: none;
        color: black;
    }
 
    .hotel2:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        cursor: pointer;
    }

/* ACTIVITES */


#Activite {
    width: 80%;
  }
  
  .containerActivites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 495px;
    margin-top: 2%;
    margin-bottom: 6%;
    box-sizing: border-box;
  }
  
  .blocActivite {
    width: 23%;
  }
  
  .Activite {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px gray;
  }
  
  .Activite a {
      text-decoration: none;
      color: black;
  }

  .Activite:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer;
  }
  
  .titresection {
    color: black;
    font-size: 1.3em;
    padding-left: 8px;
  }
  
  .Activite img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  
  .activite1et4img {
    height: 440px;
  }
  
  .activite2img {
    height: 200px;
  }
  
  .activite3img {
    height: 110px;
  }
  
  .activite5img {
    height: 140px;
  }
  
  .activite6img {
    height: 140px;
  }
  
  .nomactivite {
    padding: 0 0px 5px 20px;
  }
  
  .Activite2 {
    margin: 0px 0px 61px;
  }
  
  .Activite5 {
    margin: 0px 0px 92px;
  }


/* FOOTER */

footer {
    background-color:  #f2f2f2;
  }
  
    .bloc-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .interieur-bloc {
        width: 40%;
    }

    .titre-footer {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }

    .interieur-bloc a {
        color: black;
        display: block;
        margin: 15px 0;
        font-weight: normal;
        text-decoration: none;
    }
  

/* Responsive Mobile */


@media screen and (max-width: 742px) {

    /* Menu navigation */

    .nav {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav a {
        width: 50%;
        text-align: center;
    }

    #logo-haut {
        margin-top: 2.5%;
    }

    /* Formulaire de Recherche */

    .submit {
        display: none;
    }

    .fas.fa-search {
        display: inline;
        border-radius: 15px;
        background-color: #0065fc;
        color: white;
    }

    /* Filtres */    

    .filtre-list {
        display: -ms-grid;
        display: grid;
        padding: 1%;
    }

    .filtre-list h2 {
        margin-bottom: 1px;
    }

    /* Hotels */

    #hebergements {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .part2 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
    }

    .hotel p {
        margin: 3px;
    }

    /* Activites */

    .containerActivites {
        display: -ms-grid;
        display: grid;
        height: auto;
        margin-bottom: 25px;
        -webkit-box-pack: normal;
            -ms-flex-pack: normal;
                justify-content: normal;
    }
        
    .blocActivite {
        width: auto;
    }
        
    .Activite img {
        width: 100%;
        height: 100px;
    }

    .Activite {
        margin-bottom: 30%;
        height: 70px;
    }

    .nomactivite {
        padding: 8px 0px 5px 20px;
        border-radius: 0 0 1.5rem 1.5rem;
        border-color: transparent;
        box-shadow: 0 5px 16px #0000002e;
    }
    
    /*  Footer  */

    .bloc-footer {
        display: -ms-grid;
        display: grid;
    }

    .interieur-bloc {
        width: auto;
    }
}  

/* Responsive Tablette */

@media screen and (max-width: 1007px) {

    /* Titre haut de page */

    .titre-haut {
        text-align: center;
        margin-bottom: 15px;
    }

    /* FILTRES */

  .filtre-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .filtre {
      padding: 0px;
  }
  
    /* Hôtels Populaires */

    .info-image h3, p {
        margin: 3%;
    }
}


/* Grand écran */

@media screen and (max-width: 1600px) {
    body {
        margin: auto;
    }
}